# Build directories
build/
build-win/

# Dependencies
vcpkg/

# Output files
*.wav
*.mp3
*.ogg
*.json

# Executables
museq
museq.exe
gensine

# Backup directory
backup/

# IDE files
.vscode/
.idea/

# Sounds (Ignore all except the GeneralUser soundfont)
sounds/*
!sounds/GeneralUser GS v1.471.sf2